button {
    background-color: #FFC4A9;
    border: 6px solid #485969;
    border-radius: 10px;
  }
  .game-board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #668cb3;
    color: #FFC4A9;
    border: 6px solid #485969;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .grid-row {
    border: 6px solid #739dc7; 
    border-radius: 6px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #739dc7;
  }

  body {
    font-family: 'Comfortaa', cursive;
  }
  .square-h1 {
    font-size: 40px;
  }
  #info {
    margin-left: 10px;
  }
  .red {
    color: red;
  }
  .white {
    color: white;
  }